<main class="Real">
    <h1 class="Real-welcome">REAL TIME VISUALIZER</h1>
    <h3 class="Real-paragraph">See our products in real time!</h3>
    

    <section class="Real-products">
        {{#each products}}
            <div class="Product">
                <div class="Product-container">
                    <img class="Product-container_img" src="{{this.photo}}" alt="{{this.title}}">
                </div>
                <h5 class="Product-name">{{this.title}}</h5>
                <h5 class="Product-price"> ${{this.price}} </h5>
            </div>
        {{/each}}   
    </section>
    <span class="Paginate-container">
            {{#if prev}}
                <a
                class="Paginate-prev"
                href="/products/real/?title={{filter}}&page={{prev}}"
                >PREV</a>
            {{/if}}
            {{#if next}}
                <a
                class="Paginate-next"
                href="/products/real/?title={{filter}}&page={{next}}"
                >NEXT</a>
            {{/if}}
      </span> 
    
</main>
<script src="/real.js"></script>